<style>
        .test{
          width: 1080px;
          min-height: 400px;    
          margin-top: 10px;  
          text-align: center;
          line-height: 80px;
        }
        .navitation{
          width: 1080px;
          margin-top: 10px;  
          text-align: center;
        }
        .insert{
         margin-bottom: 20px;
         text-align: left;
        }
        .thead-light{
          line-height: 25px;
        }
        .btn-success{
          background-color: white;
          color:forestgreen;
          border: 2px solid #4CAF50;
          font-weight: bold;
        }
        .btn-danger{
          background-color: white;
          color: red;
          border: 2px solid red; 
          font-weight: bold;
        }
        .btn-primary{
          background-color: white;
          color:darkturquoise;
          border: 2px solid deepskyblue; 
          font-size: 15pt;
          font-weight: bold;
        }
        
        
</style>



<div class="container navitation">
  <table class="table table-bordered table-hover"> 
  <thead class="thead-light">
    <tr> 
      <th scope="col">ID</th>
      <th scope="col">Tên Sản</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Mô Tả</th>
      <th scope="col">Công Cụ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td >iPhone</td>
      <td><img width="70" height="80" src="/images/iphone.jpg"></td>
      <td>Mô tả</td>
        <td> 
           <div class="container" >
           <a href="category/addCategory"><button type="button" class="btn btn-success">Update</button></a>
           <a href="category/deleteCategory"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
        </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>iPad</td>
      <td><img width="70" height="80" src="/images/iPad.jpg"></td>
      <td>Mô tả</td>
       <td> 
           <div class="container" >
           <a href="category/updateCategory"><button type="button" class="btn btn-success">Update</button></a>
           <a href="category/deleteCategory"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
        </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mac</td>
      <td>
        <img width="70" height="80" src="/images/macbook.jpg"></td>
      <td>Mô tả</td>
         <td> 
           <div class="container" >
           <a href="category/updateCategory"><button type="button" class="btn btn-success">Update</button></a>
           <a href="category/deleteCategory"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>iMac</td>
      <td><img width="70" height="80" src="/images/imac.jpg"></td>
      <td>Mô tả</td>
      <td> 
           <div class="container " >
          <a href="category/updateCategory"><button type="button" class="btn btn-success">Update</button></a>
           <a href="category/deleteCategory"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Apple Watch</td>
      <td><img width="70" height="80" src="/images/applewatch.jpg"></td>
      <td>Mô tả</td>
       <td> 
           <div class="container " >
          <a href="category/updateCategory"><button type="button" class="btn btn-success">Update</button></a>
           <a href="category/deleteCategory"><button type="button" class="btn btn-danger">Delete</button></a>      
            </div>
          </td>
    </tr>
    
    <tr>
      <th scope="row">6</th>
      <td>Phụ Kiện</td>
      <td><img width="70" height="80" src="/images/keyboard.jpg"></td>
      <td>Mô tả</td>
       <td> 
           <div class="container " >
           <a href="category/updateCategory"><button type="button" class="btn btn-success">Update</button></a>
           <a href="category/deleteCategory"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
  
    
    
    
  </tbody>
</table>
</div>

           <div class="insert" style="text-align: center">
           <a href="category/addCategory"> <button type="button" class="btn btn-primary col-3">Thêm Danh Mục</button></a>
           <a href="/"> <button type="button" class="btn btn-primary col-3">Danh Sách Sản Phẩm</button></a>
          </div>
</div>