<style>
        .test{
          width: 1200px;
          min-height: 400px;    
          margin-top: 10px;  
          text-align: center;
          line-height: 80px;
        }
        .navitation{
          width: 1200px;
          margin-top: 10px;  
          text-align: center;
        }
        .insert{
         margin-bottom: 20px;
         text-align: left;
        }
        .thead-light{
          line-height: 25px;
        }
        .nav-link {
          line-height: 25px;
           width="200"; height="100";
           background: rgb(0, 0, 0);
           
           
        }
        .nav-item{
          line-height: 25px;
           width="100"; height="100";
           margin-left: 10px; 
        }
        .card-header{
          height: 70px;
          background: rgb(0, 0, 0);
        }
        
</style>



<div class="container navitation">
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs card-hover">
      <a href="/"><img src="https://pbs.twimg.com/profile_images/2693319772/492d91d17f3459b09e1c7daa139b5738.jpeg" width="100" height="50"></a>
      <li class="nav-item"><a class="nav-link active" href="/" class="text-decoration-none" style="color: #000000">iPhone</a></li>
      <li class="nav-item"><a class="nav-link" href="/" class="text-decoration-none" style="color: #fff">iPad</a></li>
      <li class="nav-item"><a class="nav-link" href="/" class="text-decoration-none" style="color: #fff">Mac</a></li>
      <li class="nav-item"><a class="nav-link" href="/" class="text-decoration-none" style="color: #fff">Apple Watch</a></li>
      <li class="nav-item"><a class="nav-link" href="/" class="text-decoration-none" style="color: #fff">Phụ kiện</a></li>
      <li class="nav-item"><a class="nav-link" href="/" class="text-decoration-none" style="color: #fff">Thông tin</a></li>
      <input type="text" value="" class="search_input" title="Tìm kiếm sản phẩm" class="ty-search-block__input cm-hint">
    </ul>
  </div>
  <table class="table table-bordered table-hover"> 
  <thead class="thead-light">
    <tr> 
      <th scope="col">STT</th>
      <th scope="col">Danh Mục</th>
      <th scope="col">Tên Sản Phẩm</th>
      <th scope="col">Giá Thành</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Công Cụ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td >Điện Thoại</td>
      <td>iPhone Xs</td>
      <td>26.900.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh2.jpg"></td>
        <td> 
           <div class="container" >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
        </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Laptop</td>
      <td>Asus VivoBook</td>
      <td>14.590.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh6.jpg"></td>
       <td> 
           <div class="container" >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
        </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Camera</td>
      <td>Panasonic</td>
      <td>480.000 VNĐ</td>
      <td>
        <img width="70" height="80" src="/images/anh5.jpg">
      </td>

         <td> 
           <div class="container" >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Điện Thoại</td>
      <td>Huawei Y9</td>
      <td>4.790.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh3.jpg"></td>
      <td> 
           <div class="container" >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
     <tr>
      <th scope="row">5</th>
      <td>Điện Thoại</td>
      <td>iPhone X</td>
      <td>22.990.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh4.jpg"></td>
      <td> 
           <div class="container " >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Laptop</td>
      <td>Dell Inspiron</td>
      <td>14.690.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh7.jpg"></td>
       <td> 
           <div class="container " >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    
    <tr>
      <th scope="row">7</th>
      <td>Laptop</td>
      <td>Lenovo</td>
      <td>12.600.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh8.jpg"></td>
       <td> 
           <div class="container " >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
  
    
    
    
  </tbody>
</table>
</div>

           <div class="insert" style="text-align: center">
           <a href="product/addProduct"> <button type="button" class="btn btn-primary col-3">Thêm Sản Phẩm</button></a>
           <a href="category/listCategory"> <button type="button" class="btn btn-primary col-3">Danh Mục</button></a>
          </div>
          
</div>
  <div class="dropdown-menu">
  <form class="px-4 py-3">
    <div class="form-group">
      <label for="exampleDropdownFormEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Password</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck">
        <label class="form-check-label" for="dropdownCheck">
          Remember me
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">New around here? Sign up</a>
  <a class="dropdown-item" href="#">Forgot password?</a>
</div>