<style>
        .test{
          width: 900px;
          min-height: 400px;    
          margin-top: 10px;  
          text-align: center;
          line-height: 80px;
        }
        .navitation{
          width: 900px;
          margin-top: 10px;  
          text-align: center;
        }
        .insert{
         margin-bottom: 20px;
         text-align: left;
        }
        .thead-light{
          line-height: 25px;
        }
        .btn-success{
          background-color: white;
          color:forestgreen;
          border: 2px solid #4CAF50;
          font-weight: bold;
        }
        .btn-danger{
          background-color: white;
          color: red;
          border: 2px solid red; 
          font-weight: bold;
        }
        .btn-primary{
          background-color: white;
          color:darkturquoise;
          border: 2px solid deepskyblue; 
          font-size: 15pt;
          font-weight: bold;
        }
        
        
</style>



<div class="container navitation">
  <table class="table table-bordered table-hover"> 
  <thead class="thead-light">
    <tr> 
      <th scope="col">STT</th>
      <th scope="col">Danh Mục</th>
      <th scope="col">Tên Sản Phẩm</th>
      <th scope="col">Giá Thành</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Công Cụ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td >Điện Thoại</td>
      <td>iPhone Xs</td>
      <td>26.900.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh2.jpg"></td>
        <td> 
           <div class="container" >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
        </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Laptop</td>
      <td>Asus VivoBook</td>
      <td>14.590.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh6.jpg"></td>
       <td> 
           <div class="container" >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
        </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Camera</td>
      <td>Panasonic</td>
      <td>480.000 VNĐ</td>
      <td>
        <img width="70" height="80" src="/images/anh5.jpg">
      </td>

         <td> 
           <div class="container" >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Điện Thoại</td>
      <td>Huawei Y9</td>
      <td>4.790.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh3.jpg"></td>
      <td> 
           <div class="container" >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
     <tr>
      <th scope="row">5</th>
      <td>Điện Thoại</td>
      <td>iPhone X</td>
      <td>22.990.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh4.jpg"></td>
      <td> 
           <div class="container " >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Laptop</td>
      <td>Dell Inspiron</td>
      <td>14.690.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh7.jpg"></td>
       <td> 
           <div class="container " >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    
    <tr>
      <th scope="row">7</th>
      <td>Laptop</td>
      <td>Lenovo</td>
      <td>12.600.000 VNĐ</td>
      <td><img width="70" height="80" src="/images/anh8.jpg"></td>
       <td> 
           <div class="container " >
           <a href="product/updateProduct"><button type="button" class="btn btn-success">Update</button></a>
           <a href="product/deleteProduct"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
  
    
    
    
  </tbody>
</table>
</div>

           <div class="insert" style="text-align: center">
           <a href="product/addProduct"> <button type="button" class="btn btn-primary col-3">Thêm Sản Phẩm</button></a>
           <a href="category/listCategory"> <button type="button" class="btn btn-primary col-3">Danh Mục</button></a>
          </div>
</div>
  