<style>
        .test{
          width: 400px;
          min-height: 370px; 
          border: gray solid 2px;    
          margin-top: 10px;
          {{!-- background: url(http://localhost:3000/images/anh1.jpg) --}}
        } 
        .select{
          margin-top: 10px;
        } 
        .input1{
          margin-top: 10px;
        }
        .input-group{
          margin-top: 10px;
        }
        .text{
          text-align: center;
          margin-top: 5px;
        }
        .input-group-prepend{
          min-height: 100px;
        }
        .btn{
          width: 366px;
          margin-top: 15px;
        }
        .btn-info{
          background-color: white;
          color: red;
          border: 2px solid cyan; 
          font-size: 15pt;
          font-weight: bold; 
        }
        .custom-file{
          margin-top: 15px;
        }
</style>
<div class="container test">
 <div class="text">
  <h3>Thêm Danh Mục</h3>
  </div>
   <div class="input1">
   <input type="text" class="form-control" 
     placeholder="Tên Danh Mục" 
     aria-label="Recipient's username" 
     aria-describedby="button-addon2">
     </div>
        <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
  </div>
     <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Mô Tả</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
   </div>

      <td> 
           
           <a href="/Category"><button type="button" class="btn btn-info">Lưu</button></a>
           <a href="/Category"><button type="button" class="btn btn-info">Hủu</button></a>
          
   </td>
  
     
</div>

