<style>
        .test{
          width: 160px;
          min-height: 400px;    
          margin-top: 10px;  
          color: brown;
        }        
</style>

<div class="container test">
<h6>Xóa Thành Công</h6>
</div>