<style>
        .test{
          width: 580px;
          min-height: 400px;    
          margin-top: 10px;  
          text-align: center;
        }
        .insert{
         margin-bottom: 20px;
         text-align: left;
        }
        
</style>

<div class="container test">

<table class="table table-bordered"> 
  <thead class="thead-light">
    <tr> 
      <th scope="col">STT</th>
      <th scope="col">Danh Mục</th>
      <th scope="col">Công Cụ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Điện Thoại</td>
      <td> 
           <div class="container" >
           <a href="updateCategory"><button type="button" class="btn btn-success">Update</button></a>
           <a href="deleteCategory"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Laptop</td>
       <td> 
           <div class="container" >
           <a href="updateCategory"><button type="button" class="btn btn-success">Update</button></a>
           <a href="deleteCategory"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Camera</td>

         <td> 
           <div class="container" >
           <a href="updateCategory"><button type="button" class="btn btn-success">Update</button></a>
           <a href="deleteCategory"><button type="button" class="btn btn-danger">Delete</button></a>
           </div>
          </td>
    </tr>

  </tbody>
</table>
           <div class="insert">
           <a href="addCategory"> <button type="button" class="btn btn-primary col-4">Thêm Danh Mục</button></a>
           <a href="http://localhost:3000"> <button type="button" class="btn btn-primary col-4">Danh Sách Sản Phẩm</button></a>
          </div>
</div>
  