<style>
        .test{
          width: 400px;
          min-height: 380px; 
          border: gray solid 2px;    
          margin-top: 10px;
          background: url(http://localhost:3000/images/water.jpg);
          border:brown;
        } 
        
        .select{
          margin-top: 10px;
        } 
        .input1{
          margin-top: 10px;
        }
        .input-group{
          margin-top: 10px;
        }
        .text{
          text-align: center;
          color: red;
          margin-top: 5px;
        }
        .input-group-prepend{
          min-height: 100px;
        }
        .btn{
          width: 366px;
          margin-top: 15px;
        }
        .btn-info{
          background-color: white;
          color: red;
          border: 2px solid cyan; 
          font-size: 15pt;
          font-weight: bold;
        }
        .custom-file{
          margin-top: 15px;
        }
</style>
<div class="container test">
 <div class="text">
  <h3 >Update Thông Tin</h3>
  </div>

  <div class="select">
     <select class="custom-select" id="inputGroupSelect01">
    <option value="">Chọn Danh Mục</option>
    <option selected value="1">iPhone</option>
    <option value="2">iPad</option>
    <option value="3">Mac</option>
    <option value="4">iMac</option>
    <option value="5">Apple Watch</option>
    <option value="6">Phụ Kiện</option>
   </select>
   </div>

   <div class="input1">
   <input type="text" class="form-control" 
     placeholder="iPhone Xs" 
     aria-label="Recipient's username" 
     aria-describedby="button-addon2">
     </div>
        <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
  </div>
     <div class="input-group mb-3">
  <input type="number" class="form-control" placeholder="49.900.000 " aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">VNĐ</span>
  </div>
     </div>

     <div class="input-group">
       
  <div class="input-group-prepend">
    <span class="input-group-text">Mô Tả</span>
  </div>
  
  <textarea class="form-control" aria-label="With textarea">
- So CPU:	6
- Kích thước:	143.6 x 70.9 x 7.7 mm
- Màn hình:	5.8 inchs
- Camera:	7.0 MP/ Dual Camera 12.0 MP
- RAM:	4 GB
- Bộ nhớ trong:	64 GB
- Hệ điều hành:	iOS 12
- Chipset:	Apple A12 Bionic
- CPU:	Đang cập nhật
- GPU:	Apple GPU 4 nhân
- Kích thước:	143.6 x 70.9 x 7.7 mm
  </textarea>
  
   <td> 
           
           <a href="/"><button type="button" class="btn btn-info">Update</button></a>
           <a href="/"><button type="button" class="btn btn-info">Destroy</button></a>
          
   </td>
  

</div>

